.notshow, .notshow-tryagain, .notshow-result {
  display: none;
}
#welcome-page {
  margin-top: 100px;
  text-align: center;
  color: white;
  width: 90%;
  height: 500px;
  padding-top: 200px;
  background-color: #4370b7;
}
#logo {
  margin-top: 150px;
  margin-left: 30%;
}
.question-page {
  background-color: #4370b7;
  text-align: center;
  color: white;
}
.qLable {
  font-weight: bold;
}
.username, .useremail{
  color : #4370b7;
}
.rubytrack, .csharptrack, .phptrack, .javatrack, {
  text-align: center;
}
.notshow-tryagain {
  margin-left: 40%;
}
